{% load static %}

<head>
  <nav class="sticky top-0 z-30 navbar w-full px-12 bg-base-100 lg:px-36">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">
        <img src="{% static 'img/logo.png' %}" alt="Djangommerce logo" class="px-0 mx-0 h-8 w-8">
        <h1 class="text-xl font-bold bg-gradient-to-r from-cyan-500 to-green-500 bg-clip-text text-transparent">jangommerce</h1>
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'item:new' %}">New item</a></li>
        <li><a href="{% url 'item:items' %}" >Browse</a></li>
        <li>
          <details>
            <summary>
              {{ request.user.username | title }}
            </summary>
            <ul class="p-2">
              <li><a href="{% url 'chat:inbox' %}">Inbox</a></li>
              <li><a href="{% url 'core:user_items' %}">My items</a></li>
              <li><a href="{% url 'core:logout' %}">Logout</a></li>
            </ul>
          </details>
        {% else %}
        <li><a href="{% url 'item:items' %}" >Browse</a></li>
        <li><a href="{% url 'core:login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</head>
