{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if request.user == item.created_by %}
{{ title }}
{% else %}
{{ item.name }}
{% endif %}
{% endblock %}

{% block content %}
<!-- Selected item content -->
<section class="grid grid-cols-5 gap-6">
  <!-- Render image -->
  <div class="col-span-3 bg-base-200 rounded-xl">
    {% if item.image %}
    <img src="{{ item.image.url }}" alt="{{ item.image }}" class="rounded-xl">
    {% else %}
    <img src="https://placehold.co/720x1080?text=Welcome!" class="rounded-xl text-center">
    {% endif %}

    <!-- Render items details before changes by user -->
    {% if request.user == item.created_by %}
    <div class="p-8">
      <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
      <p class="py-0.5 text-gray-600"><strong>Price: </strong>{{ item.price }}</p>
      <p class="py-0.5 text-gray-600"><strong>Status: </strong>{{ item.status }}</p>
      <p class="py-0.5 text-gray-600"><strong>Seller: </strong>{{ item.created_by.username }}</p>

      {% if item.description %}
      <p class="text-gray-700">
        <strong class="py-0.5 text-gray-600">Description:</strong>
        {{ item.description }}
      </p>
      {% endif %}
    </div>
    {% endif %}

  </div>

  <!-- Render form -->
  <div class="col-span-2 p-6 bg-base-200 rounded-xl">

    {% if request.user == item.created_by %}
    <h1 class="mb-6 text-3xl text-center">{{ title }}</h1>
    <form id="form" method="POST" action="." enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Display form fields -->
      {% for field in form %}
      <div class="mb-3 p-2">{{ field }}</div>
      {% endfor %}

      <!-- Display error if any -->
      {% if form.errors or form.non_field_errors %}
      <div class="mb-3 p-6 bg-red-100 rounded-xl">
        {% for field in form %}
        {{ field.errors }}
        {% endfor %}
        {{ form.non_field_errors }}
      </div>
      {% endif %}
      <button id="form-submit"
        class="block mb-3 w-full py-4 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
      <a href="{% url 'item:delete' item.id %}"
        class="block mx-auto w-full py-4 text-lg bg-red-400 hover:bg-red-600 rounded-xl text-center text-white">Delete</a>
    </form>

    {% else %}
    <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
    <p class="py-0.5 text-gray-600"><strong>Price: </strong>{{ item.price }}</p>
    <p class="py-0.5 text-gray-600"><strong>Status: </strong>{{ item.status }}</p>
    <p class="py-0.5 text-gray-600"><strong>Seller: </strong>{{ item.created_by.username }}</p>

    {% if item.description %}
    <p class="py-0.5 text-gray-700">
      <strong class="py-0.5 text-gray-600">Description:</strong>
      {{ item.description }}
    </p>
    {% endif %}

    <a href="{% url 'chat:new' item.id %}"
      class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact
      seller</a>
    {% endif %}
  </div>
</section>

<!-- Related items box  -->
<section class="mt-6 px-6 py-12 bg-base-200 rounded-xl">
  {% if request.user == item.created_by %}
  <h1 class="mb-6 text-3xl text-center">More of your items</h1>
  <div class="grid grid-cols-3 gap-3">
    {% for item in user_items %}
    <div class="card bg-base-100 shadow-xl">
      <a href="{% url 'item:detail' item.id %}">
        <figure>
          {% if item.image %}
          <img src="{{ item.image.url }}" alt="{{ item.image }}" class="rounded-t-xl object-cover h-52 w-96" loading="lazy">
          {% else %}
          <img src="https://placehold.co/520x960?text=Welcome!" class="rounded-t-xl object-cover h-52 w-96" alt="No image">
          {% endif %}
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ item.name }}</h2>
          <p>Price: {{ item.price }}</p>
          <!-- <div class="card-actions justify-end">
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div> -->
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <h2 class="mb-12 text-2xl text-center">Related items</h2>

  <div class="grid grid-cols-3 gap-3">
    {% for item in related_items %}
    <div class="card bg-base-100 shadow-xl">
      <a href="{% url 'item:detail' item.id %}">
        <figure>
          {% if item.image %}
          <img src="{{ item.image.url }}" alt="{{ item.image }}" class="rounded-t-xl object-cover h-52 w-96" loading="lazy">
          {% else %}
          <img src="https://placehold.co/720x1080?text=Welcome!" class="rounded-t-xl object-cover h-52 w-96" alt="No image">
          {% endif %}
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ item.name }}</h2>
          <p>Price: {{ item.price }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock %}
