{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="grid grid-cols-4 gap-4">
  <div class="p-6 col-span-1 bg-base-200 rounded-xl">

    <!-- Filter by category -->
    <div class="mb-4">
      <p class="mb-4 font-semibold text-center">Categories:</p>
      <ul>
        {% for category in categories %}
        <li class="py-2 px-2 text-center rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
          <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Filter text input -->
    <form method="get" action="{% url 'item:items' %}">
      <input name="query" class="block mb-3 w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}"
        placeholder="Filter by...">
      <button class="block mb-3 w-full py-4 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Search</button>
    </form>
    
    <a href="{% url 'item:items' %}"
      class="mb-3 py-4 w-full block text-lg rounded-xl text-white text-center bg-yellow-500 hover:bg-yellow-700">Clear
      filters</a>
  </div>

  <div class="col-span-3 px-6 py-8 bg-base-200 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">
      {% if query|length > 20 %}
      <!-- Query calling length method. In python code: length(query)-->
      Try with a shorter text
      {% elif query and not items %}
      No results for "{{ query }}"
      {% elif query and items %}
      Results for "{{ query }}"
      {% else %}
      Available items
      {% endif %}
    </h2>

    <div class="grid grid-cols-3 lg:grid-cols-4 gap-3">
      {% for item in items %}
      <div class="card bg-base-100 shadow-xl">
        <a href="{% url 'item:detail' item.id %}">
          <figure>
            {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.image }}" class="rounded-t-xl object-cover h-52 w-full"
              loading="lazy">
            {% else %}
            <img src="https://placehold.co/520x960?text=Djangommerce" class="rounded-t-xl object-cover h-52 w-full"
              alt="No image">
            {% endif %}
          </figure>
          <div class="card-body">
            <h2 class="card-title">{{ item.name }}</h2>
            <p>Price: {{ item.price }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}