{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<section class="px-6 py-8 bg-base-200 rounded-xl">
  <h1 class="mb-12 text-2xl text-center">{{ title }}</h1>

  <div class="grid grid-cols-3 gap-3">
    {% for item in items %}
    <div class="card bg-base-100 shadow-xl">
      <a href="{% url 'item:detail' item.id %}">
        <figure>
          {% if item.image %}
          <img src="{{ item.image.url }}" alt="{{ item.image }}" class="rounded-t-xl object-cover h-52 w-full" loading="lazy">
          {% else %}
          <img src="https://placehold.co/520x960?text=Djangommerce" class="rounded-t-xl object-cover h-52 w-full" alt="No image">
          {% endif %}
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ item.name }}</h2>
          <p>Price: {{ item.price }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}