{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<section class="px-6 py-8 bg-base-200 rounded-xl">
  <h1 class="mb-6 text-2xl text-center">
    <a href="{% url 'item:detail' conversation.item.id %}" class="underline" target="_blank"
      rel="noopener noreferrer">{{ conversation.item.name | title }}</a>
    |
    {% if conversation.item.status == "Available" %}
    <span class="text-green-600">{{ conversation.item.status }}</span>
    {% elif conversation.item.status == "Reserved" %}
    <span class="text-yellow-600">{{ conversation.item.status }}</span>
    {% else %}
    <span class="text-red-600">{{ conversation.item.status }}</span>
    {% endif %}
  </h1>

  <!-- Chat bubbles -->
  {% for message in conversation.messages.all %}
  <div class="{% if message.created_by == request.user %} chat chat-end {% else %} chat chat-start {% endif %}">
    <div class="chat-image avatar">
      <div class="w-10 rounded-full">
        <!-- Chat avatar for seller -->
        {% if message.created_by == request.user %}
        <svg viewBox="0 0 36 36" fill="none" role="img" xmlns="http://www.w3.org/2000/svg" width="40" height="40">
          <mask id=":r33:" maskUnits="userSpaceOnUse" x="0" y="0" width="36" height="36">
            <rect width="36" height="36" fill="#FFFFFF" rx="72"></rect>
          </mask>
          <g mask="url(#:r33:)">
            <rect width="36" height="36" fill="#a89f1d"></rect>
            <rect x="0" y="0" width="36" height="36" transform="translate(1 7) rotate(23 18 18) scale(1.2)"
              fill="#fcaf14" rx="36"></rect>
            <g transform="translate(-7 3.5) rotate(3 18 18)">
              <path d="M13,21 a1,0.75 0 0,0 10,0" fill="#000000"></path>
              <rect x="11" y="14" width="1.5" height="2" rx="1" stroke="none" fill="#000000"></rect>
              <rect x="23" y="14" width="1.5" height="2" rx="1" stroke="none" fill="#000000"></rect>
            </g>
          </g>
        </svg>
        {% else %}
        <!-- Chat avatar for buyer-->
        <svg viewBox="0 0 36 36" fill="none" role="img" xmlns="http://www.w3.org/2000/svg" width="40" height="40">
          <mask id=":r2g:" maskUnits="userSpaceOnUse" x="0" y="0" width="36" height="36">
            <rect width="36" height="36" fill="#FFFFFF" rx="72"></rect>
          </mask>
          <g mask="url(#:r2g:)">
            <rect width="36" height="36" fill="#a89f1d"></rect>
            <rect x="0" y="0" width="36" height="36" transform="translate(-4 -4) rotate(88 18 18) scale(1.1)"
              fill="#fcaf14" rx="36"></rect>
            <g transform="translate(0 -6) rotate(8 18 18)">
              <path d="M15 20c2 1 4 1 6 0" stroke="#000000" fill="none" stroke-linecap="round"></path>
              <rect x="11" y="14" width="1.5" height="2" rx="1" stroke="none" fill="#000000"></rect>
              <rect x="23" y="14" width="1.5" height="2" rx="1" stroke="none" fill="#000000"></rect>
            </g>
          </g>
        </svg>
        {% endif %}
      </div>
    </div>
    <div class="chat-header">
      {{ message.created_by.username }}
    </div>
    <div class="chat-bubble">{{ message.content }}</div>
    <div class="chat-footer opacity-50">
      {{ message.created_at | date:"H:i | d.m" }}
    </div>
  </div>
  {% endfor %}

  <!-- Render text input form -->
  <form method="post" action=".">
    {% csrf_token %}

    {% for field in form %}
    <div class="input-group py-4">
      {{ field }}
      <button class="btn btn-outline btn-accent">Send</button>
    </div>
    {% endfor %}
  </form>
</section>
{% endblock %}