{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1 class="mb-6 text-3xl text-center">Chat with {{ item.created_by }} | {{ item.name }} is
  {% if item.status == "Available" %}
  <span class="text-green-600">{{ item.status }}</span>
  {% elif item.status == "Reserved" %}
  <span class="text-yellow-600">{{ item.status }}</span>
  {% else %}
  <span class="text-red-600">{{ item.status }}</span>
  {% endif %}
</h1>

<form method="post" action=".">
  {% csrf_token %}

  <!-- Display form fields -->
  {% for field in form %}
  <div class="space-y-4">
    {{ field }}
  </div>
  {% endfor %}

  {% if form.errors or form.non_field_errors %}
  <div class="mb-3 p-6 bg-red-100 rounded-xl">
    {% for field in form %}
    {{ field.errors }}
    {% endfor %}

    {{ form.non_field_errors }}
  </div>
  {% endif %}

  <button class="w-full mt-6 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Send</button>
</form>
{% endblock %}