{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}
{% block content %}
<section>
  <h1>Thanks to: </h1>
  <div>
    <ul>
      <li>
        <a href="https://www.flaticon.com/free-icons/no-photo" title="no photo icons">No photo icons created by Riskywas
          -
          Flaticon</a>
      </li>
      <li>
        <a href="https://www.flaticon.com/free-icons/letter-d" title="letter d icons">Letter d icons created by
          shohanur.rahman13 - Flaticon</a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}