{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %} | Djangommerce</title>
  <meta name="description" content="A brief description" />
  <meta name="author" content="Djangommerce is an ecommerce project build with Django" />

  <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

  <!-- Daisy UI -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css" />
  <!-- Tailwind CSS CDN and config -->
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body>
  <!-- Header content -->
  {% include 'partials/_header.html' %}

  <!-- Main content from apps -->
  <main class="px-12 py-12">
    {% block content %} {% endblock %}
  </main>

  <!--Footer content-->
  {% include 'partials/_footer.html' %}

  <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>