{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="my-6 hero py-14 bg-base-200 rounded-xl">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="py-2 text-5xl font-bold bg-gradient-to-r from-cyan-500 to-green-500 bg-clip-text text-transparent">{{ title }}, {{ username }}!</h1>
      <p class="py-6">
        We are happy to know your opinion about Djangommerce, and will get back to you as soon as possible.
      </p>
      <a href="{% url 'core:signup' %}" class="btn btn-primary">Join us now!</a>
    </div>
  </div>
</div>
{% endblock %}