{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}
{% block content %}

<!-- Welcome message -->
<div class="my-6 hero py-14 bg-base-200 rounded-xl">
  <div class="hero-content text-center">
    <div class="max-w-md">
      {% if request.user.is_authenticated %}
      <h4 class="text-5xl font-bold">Welcome back, {{ request.user.username | title }}!</h4>
      {% else %}
      <h1 class="text-5xl font-bold">Hello there 👋</h1>
      <p class="py-6">
        <span class="text-xl inline font-bold bg-gradient-to-r from-cyan-500 to-green-500 bg-clip-text text-transparent">Djangommerce</span>
        is an online market hub built using Django and Tailwind CSS with DaisyUI components, designed to allow you to post items for sale and find potential buyers!
      </p>
      <a href="{% url 'core:signup' %}" class="btn btn-primary">Join us now!</a>
      {% endif %}
    </div>
  </div>
</div>

<!-- Items gallery -->
<div class="px-6 py-8 bg-base-200 rounded-xl">
  {% if request.user.is_authenticated %}
  <h2 class="mb-12 text-2xl text-center">You might find interesting</h2>
  {% else %}
  <h2 class="mb-12 text-2xl text-center">New items</h2>
  {% endif %}
  <!-- Items gallery -->
  <div class="grid grid-cols-3 lg:grid-cols-5 gap-3">
    {% for item in items %}
    <div class="card bg-base-100 shadow-xl">
      <a href="{% url 'item:detail' item.id %}">
        <figure>
          {% if item.image %}
          <img src="{{ item.image.url }}" alt="{{ item.image }}" class="h-52 w-full object-cover rounded-t-xl" loading="lazy">
          {% else %}
          <img src="https://placehold.co/520x960?text=Djangommerce" alt="No image" class="h-52 w-full object-cover rounded-t-xl">
          {% endif %}
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ item.name }}</h2>
          <p>Price: {{ item.price }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Categories section -->
<div class="mt-6 px-6 py-6 bg-base-200 rounded-xl">
  <h2 class="mb-10 text-2xl text-center">Categories</h2>

  <div class="grid grid-cols-3 gap-3">
    {% for category in categories %}
    <div>
      <a href="#">
        <div class="card card-body bg-base-100 shadow-xl">
          <h2 class="text-2xl">{{ category.name }}</h2>
          <p class="text-gray-500">{{ category.items.count }} items</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
